body {
    margin: 0;
    text-align: center;
    font-family: sans-serif;
}

h1 {
    margin: 10px auto 0 auto; /*top right bottom left*/
    /* margin: 0 auto 0; top, left-right, bottom */
    /* margin: 0 auto; top-bottom , left-right */
    /* line-height: 1.5; */
    color: #069A8E;
    font-family: 'Great Vibes', cursive;
    font-size: 4.6875rem;

}

#top p {
    color: #069A8E;
    font-family: 'Genos', sans-serif;
    font-size: 2.5rem;
    font-weight: bolder;
    margin-top: 0;
}

#top {
    position: relative;
    background-color: #d4eeea;
    padding-top: 10px;
}

.cloud1 {
    position: absolute;
    right: 10%;
    top: 70px;
}


.cloud2 {
    position: absolute;
    left: 10%;
}

#cnt1 {
    background-color: whitesmoke;
    padding: 43px;
    padding-bottom: 0;
}

#cnt1 p {
    color: rgba(90, 81, 83, 0.788);
    font-size: 20px;
    font-weight: 500;
    width: 50%;
    margin: 0 auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 90px;
}

.mypic {
    border-radius: 160px;
    height: 250px;
    margin-top: 50px;
    box-shadow: 0 0 10px #cbd9e7, 0 0 20px #192631, 0 0 30px #3a84ca;
}

h2 {
    font-size: 50px;
    font-weight: bolder;
    font-family: 'Genos', sans-serif;
    color: #069A8E;
    margin-top: 20px;
}

#cnt2 {
    padding-top: 50px;
    padding-bottom: 90px;
    padding-left: 10%;
    padding-right: 10%;
    background: #F3F1F5;
}

.grid-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    box-sizing: border-box;
}

.boxes{
    font-size: 20px;
    padding: 10px;
    margin: auto;
}

#box1, #box2{
    text-align: left;
}

#cnt2 img {
    width: 45%;
}

hr {
    color: #8c9da3;
    border-width: 10px;
    width: 16%;
    border-style: none;
    border-top-style: dotted;
    margin: 0 auto;
    padding: 0;
}

#cnt3 {
    background-color: #63B4B8;
    padding-top: 60px;
    padding-bottom: 80px;
    overflow-x: auto;
}

#cnt3 h2 {
    color: azure;
    margin: 0 auto 0 auto;
    position: relative;
    /* top: 30px; */
}

.t2 {
    text-align: justify;
    margin: 30px auto 0 auto;
}

input,
textarea {
    background-color: rgb(140, 207, 207);
    border-radius: 25px;
    border: #ffffffd2 solid;
    width: 270px;
    height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    color: rgba(0, 0, 0, 0.692);
    font-size: 20px;
}

label {
    font-size: 25px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.678);
}

td {
    line-height: 2;
}

#btn {
    color: white;
    font-size: 23px;
    width: 115px;
    height: 43px;
    background: linear-gradient(#16cfc0, #13756d);
}

#btn:hover {
    cursor: pointer;
    background: linear-gradient(#13756d, #16cfc0);
}

#cnt4 {
    background: #069A8E;
}

a {
    color: #d4eeea;
    text-decoration: none;
    font-size: 25px;
    padding: 20px;
}

.links {
    padding-top: 45px;
    padding-bottom: 45px;
}

a:hover {
    color: rgba(32, 30, 31, 0.788);
}

.foot {
    color: #023a1b;
    margin: 0;
    padding-bottom: 43px;
    font-size: 20px;
}

.navbar{
    background: #d4eeea;
    text-align: right;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 30px;
}

.navbar a{
    color: #069A8E;
}

.navbar a:hover{
    color: rgba(32, 30, 31, 0.788);
}

.navbar img{
    width: 97px;
    position: absolute;
    left: 75px;
    top: 20px;
    border-radius: 120px;
    box-shadow: 0 0 10px #3a84ca, 0 0 20px #3a84ca;

}

@media screen and (max-width: 600px) {

    .navbar img{
        width: 60px;
        left: 20px;
    }
    .navbar a{
        font-size: 18px;
        padding-right: 0.5rem;
    }

    h1{
        font-size: 3.5rem;
    }

    h2{
        font-size: 43px;
    }
    #top p{
        font-size: 2rem;
    }
    .mount{
        width: 70%;
    }
    .cloud1{
        width: 30%;
        right: 0%;
    }
    .cloud2{
        width: 30%;
    }

    #cnt1 img{
        height: 150px;
        width: 150px;
    }

    #cnt1 p{
        width: 90%;
    }

    #cnt2{
        
    }

    #cnt4 a{
        display: block;
        line-height: 0.7;
        margin: 0 32%;
    }

    label{
        font-size: 20px;
    }

    input, textarea{
        width: 200px;
    }
}